body {
    background-color: #B0D9CA;
}

.header p {
    margin: 5px 5px 5px;
}

.header {
    background-color: #1E4033;
    text-align: center;
}

.header-calculadora {
    background-color: #0e8557;
    color: #2c3e50;
    padding: 20px 0;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.header-calculadora h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.header-calculadora h2 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #2c3e50;
}

a.position-absolute i {
    transition: transform 0.2s ease;
    position: fixed;
}
a.position-absolute i:hover {
    transform: scale(1.2);
    color: #00ffae;
}

.card {
    border-radius: 20px;
    border: none;
}

#resultados p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.carousel-inner img {
    height: 100%;
    object-fit: cover;
    margin-top: 10%;
}

.titulo-principal {
    background: linear-gradient(45deg, #6C8C71, #4CAF50);
    padding: 18px 0;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    animation: fadeInDown 1s ease;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
